
  <form class="form w-50 edit-form" data-id="{{id}}"> 
     <div class="form-group">
      <label for="project-name">Title:</label>
    <input id="name-edit" class="form-input" value="{{ name}}" />
    </div>
    <br>
    <div class="form-group">
       <label for="project-desc"> Content:</label>
    <textarea id="description-edit" class="form-input">{{description}}</textarea>
    </div>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
   <span for="img" aria-label="money">💲</span>
      <span class="dollar-amount" id="needed_funding-edit">{{format_amount needed_funding}}</span>
      needed
    </p>
    <p>
      <button type="submit" class="btn btn-primary">Update Post</button>
    </p>
    </form>
    
      <button data-id="{{id}}" class="btn btn-sm btn-danger delete-btn">DELETE POST</button>
    
  

  <script src= "/js/comment.js"></script>